apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: prod
  labels:
    app: patient-service
    env: prod
spec:
  type: ClusterIP
  selector:
    app: patient-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
